.header{
    width: 80.1389%;
    height: 68px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F6F6FE;
    box-shadow: 2px 5px 8px #F6F6FE;
}

.header-block{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    justify-content: end;
}

.header-block__button{
    height: 42px;
    width: 42px;
    border-radius: 50%; 
    border-color: #7362BC; 
    display: flex;
    align-items: center;
    margin-left: 16px;
    position: relative;
    cursor: pointer;
}

.header-block__icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block__icon_avatar{
    margin-left: -8px;
}

.header-block__icon-down{
    margin-left: 7px;
}

.header-block__figure{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #E84849;
    border-radius: 50%;
    color: #ffffff;
    height: 16px;
    width: 16px;
    margin: 0;
}
